/* kumbh-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/kumbh-sans-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kumbh-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/kumbh-sans-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* kumbh-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/kumbh-sans-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  object-fit: cover;

  /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  background-image: url(./images/Group\ 10.png);
  background-repeat: no-repeat;
  background-position: top;
  /* background-position: ; */
  /* background: #f4f6f8; */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F4F6F8;;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
.header{
    /* display: flex; */
}
.header_div{
    align-items: center;
 display: flex;
 /* justify-content: space-between; */
 /* flex-direction: column; */
 margin-top: 44px;
 padding-bottom: 40px;
}
.header_span{

    display: flex;
}
.block{
    display: none;
}
.site-logo{
    margin-right: auto;
}
.div_one{
  width: 1110px;
height: 80px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
/* margin-top: ; */
align-items: center;
display: flex;
justify-content: space-around;
gap: 1.6rem;
}

.span{
  display: inline-flex;
padding-right: 4px;
align-items: flex-end;
gap: 16px;
}

.input_one{
  border: 0;
  width: 268px;
  height: 20px;
}

.span2{
  display: inline-flex;
height: 24px;
padding-right: 1px;
justify-content: center;
align-items: center;
gap: 16px;
flex-shrink: 0;
}

.input_two{
  border: 0;
  width: 135px;
  height: 16px;
}


.span3{
  display: flex;
gap: 16px ;
}

.span3_input{
  border-radius: 3px;
background: #19202D;
width: 24px;
height: 24px;
}

.span3_title{
  color: #19202D;
font-family: Kumbh Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

}


.btn_search{
  width: 123px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: #5964E0;
color: #FFF;
text-align: center;
font-family: Kumbh Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
}

.btn_search:hover {
  opacity: 0.5;
}

.main_div {
margin-top: 7rem;
}
.main_ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));  
}
.main_item {
  width: 350px;
height: 228px;
flex-shrink: 0;
border-radius: 6px;
background: #FFF;
margin-top: 5rem;
}

/* main */

.main_item{
  
}


.item_img{
  width: 50px;
height: 50px;
flex-shrink: 0;
}

.item_div{
  display: flex;
gap: 28px;
margin-top: 20px;

}

.time_p{
  color: #6E8098;
font-family: Kumbh Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.full_time{
  color: #6E8098;
font-family: Kumbh Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.one_li_a{
  color: #19202D;
  font-family: Kumbh Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 12px;
}

.scoot{
  color: #6E8098;
font-family: Kumbh Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 2.5rem;
}

.one_li_united{
  color: #5964E0;
font-family: Kumbh Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 37px;
}